{{page-title "RepoFinder"}}

<div class="max-w-lg mx-auto p-6 bg-white rounded-lg shadow-md">
  <h2 class="text-2xl font-bold mb-6 text-center text-gray-800">
    GitHub Repository Finder
  </h2>

  <form class="space-y-4" {{on "submit" this.handleSubmit}}>
    <InputField
      @id="org-name"
      @label="Organisation Name"
      @type="text"
      @placeholder="Enter organisation name"
      @required={{true}}
      @onInput={{this.updateOrganisationName}}
    />

    <InputField
      @id="access-token"
      @label="GitHub Access Token"
      @type="text"
      @placeholder="Enter your access token"
      @required={{true}}
      @onInput={{this.updateAccessToken}}
    />

    {{#if this.formErrorMessage}}
      <ErrorMessage @message={{this.formErrorMessage}} />
    {{/if}}

    <Button
      @type="submit"
      @label="Find Repositories"
      @onClick={{perform this.fetchRepositories}}
    />
  </form>

  {{#if (and this.repositories.length (not this.fetchRepositories.isRunning))}}
    <div class="flex justify-between items-center my-2">
      <span class="pb-0 text-sm text-gray-600">
        Results:

        {{this.repositories.length}}
      </span>

      <div>
        <Select
          @id="programming-language"
          @options={{this.availableLanguages}}
          @selected={{this.selectedLanguage}}
          @placeholder="Select a programming language"
          @onChange={{perform this.filterByLanguage}}
        />
      </div>
    </div>

    {{#if this.filterByLanguage.isRunning}}
      <LoadingSpinner />
    {{else}}
      <RepoList @repositories={{this.repositories}} />
    {{/if}}
  {{/if}}
</div>